<ion-content class="has-header">

    <img src="img/logo.svg" class="mainlogo">
    <div class="maintitle">Telling</div>
    <HR>
    <p class="splash-text">Hello. <b>Telling</b> let’s you be a journalist and tell your community’s story. </p>
    <HR>
    <div class="login-btns">
        <ul>
            <a href="" ng-click="login()">
                <img src="img/fb.svg" /> </a>
            </span>

            </li>

            <li ng-click="gplusLogin()"><span class="igoogleplus"><img src="img/google.svg">
</span>
            </li>

        </ul>

    </div>


</ion-content>
