body {
    background-color: #000;
    background-image: url(pyramidbg.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Oswald', sans-serif;
    margin: 0;
}

#trapezoid {
    border-bottom: 100px solid red;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    height: 0;
    width: 100px;
}



h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 42px;
    text-align: center;
    color: azure;
   -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.logo {
    float: left;
    color: aliceblue;
}

ul {
    list-style: none;
    padding: 0;
}

.howto {
    font-family: 'Questrial', sans-serif;
    font-weight: 100;
    line-height: 90%;
    text-align: center;
    border: 1px solid #d9d9d9;
    padding: 5px 40px;
    background: rgba(11, 33, 42, 0.42);
    /* border-radius: 25px; */
    line-height: .3;
    color: azure;
}

.howto div {
    
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

li {
    background: #eee;
    margin: 1px;
    padding: 10px 15px;
    cursor: move;
    border-radius: 5px;
}

.sortable-ghost {
    opacity: .3;
    background: #f60;
}

#items {
    background: none;
    max-width: 600px;
    width: 80%;
    margin: auto;
    text-align: center;
}

#items li {
    margin: auto;
    background: none;
}

#items li span {
    margin-top: -100px;
    display: block;
    color: white;
    font-family: monospace;
}

#items li:nth-of-type(1) {
    border-top: 100px solid #0674A5;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    height: 0;
    width: 500px;
}

#items li:nth-of-type(2) {
    border-top: 100px solid rgba(6, 116, 165, 0.96);
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    height: 0;
    width: 390px;
}

#items li:nth-of-type(3) {
    border-top: 100px solid #0674A5;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    height: 0;
    width: 270px;
}

#submit {
    width: 0;
    height: 0;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    border-top: 150px solid hsla(198, 73%, 37%, 0.85);
    margin: auto;
    cursor: pointer;
}

#submit.hover {
    border-color: gray;
}

#submit span {
    margin-top: -120px;
    font-family: monospace;
    display: block;
    color: white;
    font-size: 3em;
    margin-left: -50px;
    text-align: center;
    width: 100px;
}

#results {
    color: #000;
    text-align: center;
}